.card {
  padding: 0;
}
.round {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.full-flex {
  flex: 1 1 auto;
}
.card-content {
  padding: 2rem 3rem;
}
small {
  font-size: 0.7em;
}
